@use '../foundation/variable' as var;

.p-modal {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .p-modal-content {
        justify-items: center;
        background-color: var.$baseColorLV2;
        padding: 20px;
        border-radius: 5px;
    }
}