@use '../foundation/variable' as var;

.p-section--tweet {

    display: grid;
    height: 300px;
    margin-left: 20px;
    text-align: center;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: repeat(4, 1fr);

    @media (max-width: 800px) {
        height: 480px;
    }

    :nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }

    :nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
    }

    :nth-child(3) {
        grid-area: 2 / 2 / 3 / 3;
    }

    :nth-child(4) {
        grid-area: 3 / 2 / 4 / 3;
    }

    :nth-child(5) {
        grid-area: 4 / 2 / 5 / 3;
    }
}

.p-section--hearing {

    display: grid;
    height: 300px;
    margin-left: 20px;
    text-align: center;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: repeat(4, 1fr);

    @media (max-width: 800px) {
        height: 300px;
    }

    :nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
    }

    :nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
    }

    :nth-child(3) {
        grid-area: 2 / 2 / 3 / 3;
    }

    :nth-child(4) {
        grid-area: 3 / 2 / 4 / 3;
    }

    :nth-child(5) {
        grid-area: 4 / 2 / 5 / 3;
    }
}